<form method="post" action="{{ path('eventcalendar_delete', {'id': event_calendar.id}) }}" onsubmit="return confirm('Supprimer définitivement cet event ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event_calendar.id) }}">
    <button class="btn">Supprimer</button>
</form>
