{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Événement{% endblock title %}

    {% block main %}

        <h2>Modifier l'événement</h2>

        {{ include('event_calendar/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('eventcalendar_index') }}">Retour à la liste</a>
    
        {{ include('event_calendar/_delete_form.html.twig') }}
        
    
    {% endblock main %}