{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Calendrier : liste des événements{% endblock title %}

    {% block main %}

        <h2>Liste des événements</h2>

        <a href="{{ path('eventcalendar_new') }}">Ajouter un événement</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Libellé</th>
                    <th>Affichage calendrier</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for event_calendar in event_calendars %}
                <tr>
                    <td>{{ event_calendar.id }}</td>
                    <td>{{ event_calendar.beginAt ? event_calendar.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ event_calendar.endAt ? event_calendar.endAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ event_calendar.title }}</td>
                    <td>{{ event_calendar.isAvailable ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ path('eventcalendar_show', {'id': event_calendar.id}) }}">Voir</a>
                        <a href="{{ path('eventcalendar_edit', {'id': event_calendar.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun événement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock main %}