{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Calendrier : Ajouter un événement{% endblock title %}

    {% block main %}

        <h2>Ajouter un nouvel événement au calendrier</h2>

        {{ include('event_calendar/_form.html.twig') }}

        <a href="{{ path('calendar_vue') }}">Retour au calendrier</a>
        
    
    {% endblock main %}