{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Événement{% endblock title %}

    {% block main %}

        <h2>Détails d'un événement</h2>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ event_calendar.id }}</td>
                </tr>
                <tr>
                    <th>Début</th>
                    <td>{{ event_calendar.beginAt ? event_calendar.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Fin</th>
                    <td>{{ event_calendar.endAt ? event_calendar.endAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Libellé</th>
                    <td>{{ event_calendar.title }}</td>
                </tr>
                <tr>
                    <th>Affichage calendrier</th>
                    <td>{{ event_calendar.isAvailable ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    
        <a href="{{ path('calendar_vue') }}">Retour au calendrier</a>
    
        <a href="{{ path('eventcalendar_edit', {'id': event_calendar.id}) }}">Modifier</a>
    
        {{ include('event_calendar/_delete_form.html.twig') }}
        
    
    {% endblock main %}