{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Calendrier{% endblock title %}

    {% block stylesheets %}{{ parent() }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    {% endblock stylesheets %}

    {% block main %}

        <h2>Calendrier</h2>

        <a href="{{ path('eventcalendar_new') }}">Ajouter un événement</a>

        <div id="calendar-holder"></div>
    
    
    {% endblock main %}

    {% block javascripts %}{{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
{% endblock javascripts %}