{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - AnnuaireIRL : ajouter une adresse{% endblock title %}


    {% block main %}

        <h2>Ajouter une adresse</h2>

        <form method="POST" action="{{ path('adresseIRL_create') }}">
<!--
          <div class="form_field">
            <label for="slug" required>Identifiant unique</label>
            <input id="slug" name="slug" type="text" />
          </div> -->

          <div class="form_field">
            <label for="title" required>Titre</label>
            <input id="title" name="title" type="text" required />
          </div>

          <div class="form_field">
            <label for="latitude" required>Latitude</label>
            <input id="latitude" name="latitude" type="text" required />
          </div>

          <div class="form_field">
            <label for="longitude" required>Longitude</label>
            <input id="longitude" name="longitude" type="text" required />
          </div>

          <div class="form_field">
            <label for="address" required>Rue</label>
            <input id="address" name="address" type="text" required />
          </div>

          <div class="form_field">
            <label for="zip" required>Code Postal</label>
            <input id="zip" name="zip" type="text" required />
          </div>

          <div class="form_field">
            <label for="city" required>Ville</label>
            <input id="city" name="city" type="text" required />
          </div>



          <div class="form_field">
            <label for="grouping" required>Groupe</label>
            <select name="grouping" id="grouping">
                <option selected >Ambérieu-en-Bugey</option>
                <option>Lyon</option>
                <option>Paris</option>
                <option>Grenoble</option>
                <option>Bretagne</option>
            </select>
          </div>

          <div class="form_field">
            <label for="phone" required>Téléphone</label>
            <input id="phone" name="phone" type="text" />
          </div>

          <div class="form_field">
            <label for="hours" required>Horaires</label>
            <textarea id="hours" name="hours"></textarea>
          </div>
          

          <button type="submit" class="button_enter">Ajouter</button>
        </form>

    {% endblock main %}