{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Annuaire IRL{% endblock title %}

    {% block stylesheets %}{{ parent() }}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>
    {% endblock stylesheets %}

    {% block main %}
        <div>
            <h2 class="d-inline">Adresses IRL et informations rattachées</h2>
            <a href="{{ path('postaladdress_new') }}">Ajouter une nouvelle adresse</a>
        </div>
        
        
        <div id="map">
            <!-- Ici s'affiche la carte -->
        </div>
        
    {% endblock main %}


    {% block footer %}{{ parent() }}
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    {% endblock footer %}