{% extends 'root.twig' %}

{% block title %}{{ parent() }} - Création de compte{% endblock title %}

{% block main %}

    <h2>Créer un compte de test</h2>

    <p class="alert">ATTENTION ! Ce site est expérimental : toutes les données de votre compte pourraient être effacées à la suite de modifications internes. Prenez ce compte comme un test et non comme un outil à part entière.</p>

    {% if is_granted('ROLE_USER') %}
        <p>Vous êtes déjà authentifié·e, souhaitez-vous <a href="{{ path('app_logout') }}">Vous déconnecter</a> ?</p>
    {% else %}

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.uuid) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}

    {% endif %}

{% endblock %}
