{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - TodoListe{% endblock title %}


    {% block main %}

        <h2>Liste des tâches</h2>

        {% if is_granted('ROLE_USER') %}
            <p>Vous êtes authentifié·e, seules vos tâches privées sont affichées.</p>
        {% else %}
          <p>Attention : vous n'êtes pas connecté·e, ce que vous postez ici sera visible par tou·te·s</p>
        {% endif %}

        <form method="POST" action="{{ path('todolist_create') }}">
            <input class="field_flat" type="text" id="label" name="label" placeholder="Tâche" />
            <select name="category" id="category" class="field_flat">
                <option value="homing" selected >Homing/Administratif</option>
                <option value="travail">Formation/Emploi</option>
                <option value="loisirs">Loisirs</option>
                <option value="travaux">Travaux/Jardin</option>
                <option value="social">Social</option>
            </select>
            <button type="submit" class="button_enter">Ajouter</button>
        </form>

        {% for categ, tasks in todo_list %}
        <section><h3>{{ categ }}</h3>
        <ul class="list-style-none">
          {% for task in tasks %}
            <li class="d-flex flex-wrap align-items-center">
              <a href="{{ path('todolist_switchdonestatus', {'id': task.id }) }}"
                class="mr-2"
                title="{% if task.status == 'done' %}Décocher{% else %}Cocher{% endif %}"
              >
                {% if task.status == 'done' %}
                  <img class="icon_small" src="/img/icons/checkbox_full.png" alt="Coché" /></a>
                {% else %}
                  <img class="icon_small" src="/img/icons/checkbox_empty.png" alt="Décoché" /></a>
                {% endif %}
              <span class="mr-4">{{ task.label }}</span>

              <!--
              <a href="{{ path('todolist_update', {'id': task.id }) }}" class="mr-2" title="Modifier">
                <img class="icon_small" src="/img/icons/update.png" alt="Modifier" /></a>
-->
              <a 
                onclick="return confirm('Confirmer la supression irréversible ?')"
                href="{{ path('todolist_delete', {'id': task.id }) }}"
                title="Supprimer"
              >
                <img class="icon_small" src="/img/icons/delete.png" alt="Supprimer" />
              </a>
            </li>
          {% endfor %}
          </ul>
        </section>
        {% endfor %}
    {% endblock main %}