{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Bibilothèque{% endblock title %}

    {% block main %}

    <h2>Liste des livres</h2>
<a href="{{ path('book_new') }}">Ajouter un livre</a>
    <section>
        <h3>Mangas</h3>
        {% for aManga in mangas %}
            <a href="{{ path('book_show', { 'id': aManga.id }) }}">{{ aManga.title }}</a>
        {% endfor %}
    </section>

    <section>
        <h3>Romans</h3>
        {% for aNovel in novels %}
            <a href="{{ path('book_show', { 'id': aNovel.id }) }}">{{ aNovel.title }}</a>
        {% endfor %}
    </section>

    <section>
        <h3>Ouvrages explicatifs</h3>
        {% for anExplainBook in explainBooks %}
            <a href="{{ path('book_show', { 'id': anExplainBook.id }) }}">{{ anExplainBook.title }}</a>
        {% endfor %}
    </section>

    {% endblock main %}


