{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Lecteur multimédia{% endblock title %}

    {% block main %}

    <section id="musicplayer">
        <div class="container">
            <div class="collection">
                <h3 class="heading mt-0">Composition de la playliste</h3>
                <!--p class="lead">        Recherche par :
                    mot-clef
                    dossier
                    tag</p-->
                    <hr class="hor">
                    <div id="musicbox" class="musicbox">
                    <!--h4>Résultat</h4-->
                </div>
            </div>
            <aside class="playbox">
            <div class="playbox_content">
                <h3 id="song-name" class="heading mt-0">
                    <span id="song-artist" title="Artiste">Artiste</span><br/>
                    <span id="song-title" title="Titre">Titre</span>
                    <a id="lyricsLink" href="https://www.google.com/search?q=lyrics+artist+title" target="_blank" rel="noopener noreferrer" title="Rechercher des paroles"><img class="icon_small" src="/img/icons/song-lyrics.png" /></a> 
                    <a id="youtubeLink" href="https://www.youtube.com/results?search_query=artist+title" target="_blank" rel="noopener noreferrer" title="Rechercher sur Youtube"><img class="icon_small" src="/img/icons/youtube.png" /></a>
                </h3>
                
                <div class="controller">
                    <div id="circle-bg" class="circle">
                        <div id="circle-sm" class="circle2"><img id="cover" src="" class="fluid-img"></div>
                    </div>
                    <p id="song-album" class="legend" title="Album">Album</p>
                    <div class="songs">
                        <div class="controls">
                            <audio id="audio" src=""></audio>
                            <img id="backward" class="media-btn" src="/img/icons/back.png" />
                            <img id="play-stop" class="media-btn">
                            <img id="forward" class="media-btn" src="/img/icons/next.png" />
                        </div>
                    </div>
                </div>
                <div>
                    <img id="veto" class="media-btn img_disabled" src="/img/icons/veto.png" title="Une personne du groupe ne supporte pas cette chanson" />

                    <img id="note_1" class="media-btn img_disabled" src="/img/icons/note_1.png" title="Beurk, nulle" />
                    <img id="note_2" class="media-btn img_disabled" src="/img/icons/note_2.png" title="Heu… Non…" />
                    <img id="note_3" class="media-btn img_disabled" src="/img/icons/note_3.png" title="Ok, ça se laisse écouter" />
                    <img id="note_4" class="media-btn img_disabled" src="/img/icons/note_4.png" title="Je l'aime bien" />
                    <img id="note_5" class="media-btn img_disabled" src="/img/icons/note_5.png" title="Je la kiffe trop celle là !!!" />
                </div>
            </div>
            <p class="text-align-right legend">Refonte du <a href="https://github.com/vaishnavme/Zen-lofi-beats-player" target="_blank" rel="noopener noreferrer">lecteur multimédia Zen Lofi Player</a> </p>
        </aside>
            
        </div>
    </section>


    {% endblock main %}