<form method="post" action="{{ path('tome_delete', {'id': tome.id}) }}" onsubmit="return confirm('Supprimer définitivement ce tome ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tome.id) }}">
    <button class="btn">Supprimer</button>
</form>
