{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Modifier un tome{% endblock title %}

    {% block main %}

        <h2>Modifier le tome</h2>

        {{ include('tome/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('tome_index') }}">Retour à la liste</a>
    
        {{ include('tome/_delete_form.html.twig') }}
    
    {% endblock main %}