{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Calendrier : liste des livres{% endblock title %}

    {% block main %}

        <h2>Liste des tomes</h2>

        <a href="{{ path('tome_new') }}">Ajouter un tome</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Série</th>
                    <th>Titre (id)</th>
                    <th>Couverture présente</th>
                    <th>Disponible</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for tome in tomes %}
                <tr>
                    <td><a href="{{ path('book_show', {'id': tome.getIdBook}) }}">{{ tome.getIdBook }}</a></td>
                    <td>
                        {{ tome.displayedTitle }} <a href="{{ path('tome_show', {'id': tome.id}) }}">({{ tome.id }})</a>
                    </td>
                    <td>{{ tome.cover ? 'Oui' : 'Non' }}</td>
                    <td>{{ tome.isAvailable ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ path('tome_edit', {'id': tome.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun tome trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
