{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Ajouter un tome{% endblock title %}

    {% block main %}

        <h2>Ajouter un tome</h2>

        {{ include('tome/_form.html.twig') }}

        <a href="{{ path('tome_index') }}">Retour à la liste</a>
        
    {% endblock main %}