{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Tome{% endblock title %}

    {% block main %}
    <section class="container d-flex flex-row-reverse justify-content-start flex-wrap mt-4"> 
        <div>
            <div class="mb-4">
                <h2 class="d-inline">{{ tome.displayedTitle }} (id {{ tome.id }})</h2>
                <a href="{{ path('tome_edit', {'id': tome.id}) }}">Modifier</a>
            </div>
            Disponible : {{ tome.isAvailable ? 'Oui' : 'Non' }}

            <div class="d-flex flex-wrap justify-content-between mt-4">
                <a href="{{ path('book_show', {'id': tome.getIdBook }) }}">Retour au livre</a>
    
                {{ include('tome/_delete_form.html.twig') }}
            </div>
        </div>
        <aside class="d-flex flex-column mr-4">
            <img src="/img/cover/books/{{tome.cover}}" alt="couverture" />
            {{ tome.cover }}
        </aside>
    </section>

    {% endblock %}
