{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Modifier un livre{% endblock title %}

    {% block main %}

        <h2>Modifier le livre</h2>

        {{ include('book/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('book_show', {'id': book.id}) }}">Retour à la fiche</a>
    
        {{ include('book/_delete_form.html.twig') }}
        
    
    {% endblock main %}