{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Calendrier : liste des livres{% endblock title %}

    {% block main %}
        <section>
            <div class="mt-4 mb-4">
                <h2 class="d-inline">Liste des livres oneshots</h2>
                <a href="{{ path('book_new') }}">Ajouter un livre</a>
            </div>
            

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Auteur·rice</th>
                        <th>Maison d'édition (statut)</th>
                        <th>Format</th>
                        <th>Genre</th>
                        <th>Disponible</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books_oneshot %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a></td>
                        <td>{{ book.idArtist }}</td>
                        <td>{{ book.publishingHouse }} {% if book.statusPublication %}({{ book.statusPublication }}){% endif %}</td>
                        <td>{{ book.format }}</td>
                        <td>{{ book.genre }}</td>
                        <td>{{ book.isAvailable ? 'Oui' : 'Non' }}</td>
                        <td><a href="{{ path('book_edit', {'id': book.id}) }}">Modifier</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Aucun résultat trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <hr class="mt-4 mb-4"/>

        <section>
            <div class="mt-4 mb-4">
                <h2 class="d-inline">Liste des livres à plusieurs tomes</h2>
                <a href="{{ path('book_new') }}">Ajouter un livre</a>
            </div>
            

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Auteur·rice</th>
                        <th>Série</th>
                        <th>Progression</th>
                        <th>Nombre de tomes</th>
                        <th>Maison d'édition (statut)</th>
                        <th>Format</th>
                        <th>Genre</th>
                        <th>Disponible</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books_serie %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a></td>
                        <td>{{ book.idArtist }}</td>
                        <td>{{ book.isSerie ? 'Oui' : 'Non' }}</td>
                        <td>{{ book.statusCollection }}</td>
                        <td>{{ book.isSerieNbTomes }}</td>
                        <td>{{ book.publishingHouse }} {% if book.isSerie %}({{ book.statusPublication }}){% endif %}</td>
                        <td>{{ book.format }}</td>
                        <td>{{ book.genre }}</td>
                        <td>{{ book.isAvailable ? 'Oui' : 'Non' }}</td>
                        <td><a href="{{ path('book_edit', {'id': book.id}) }}">Modifier</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Aucun résultat trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>


    {% endblock main %}