{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Ajouter un livre{% endblock title %}

    {% block main %}

        <h2>Ajouter un livre</h2>

        {{ include('book/_form.html.twig') }}

        <a href="{{ path('book_index') }}">Retour à la liste</a>
        
    {% endblock main %}