{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Livre{% endblock title %}

    {% block main %}
    <section class="container mt-4">
        <div class="mb-4">
            <h2 class="d-inline">{{ book.title }} (id {{ book.id }})</h2>
            <a href="{{ path('book_edit', {'id': book.id}) }}">Modifier</a>
        </div>

        <div>Auteur·rice : {{ book.idArtist }}</div>
        <div>Maison d'édition (statut) : {{ book.publishingHouse }} ({{ book.statusPublication }})</div>
        <div>Disponible : {{ book.isAvailable ? 'Oui' : 'Non' }}</div>
        <div>Format : {{ book.format }}</div>
        <div>Genre : {{ book.genre }}</div>

        <div class="d-flex flex-wrap justify-content-between mt-4">
            <a href="{{ path('book_index') }}">Retour à la liste</a>
            {{ include('book/_delete_form.html.twig') }}
        </div>

        <!----------------------------------------------->
        {% if book.isSerie %}
        <section class="mt-4">
            <div class="mb-4">
                <h3 class="d-inline">Tomes possédés ({{ nb_tomes }}/{{ book.isSerieNbTomes }}, {{ book.statusCollection}})</h3>
                <a href="{{ path('tome_new') }}">Ajouter un tome</a>
            </div>
            
            {% for aTome in book.tomes %}
                <a href="{{ path('tome_show', {'id': aTome.id}) }}"><img class="maxi-vignette" src="/img/cover/books/{{aTome.cover}}" alt="{{ aTome.title }}" /></a>
            {% endfor %}
        </section>
        {% endif %}

    </section>
    {% endblock %}
