{% extends 'root.twig' %}

{% block title %}{{ parent() }} - Authentification{% endblock title %}

{% block main %}

    <h2>S'authentifier</h2>

    {% if is_granted('ROLE_USER') %}
        <p>Vous êtes déjà authentifié·e, souhaitez-vous <a href="{{ path('app_logout') }}">Vous déconnecter</a> ?</p>
    {% else %}

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

            <label for="username">Pseudo :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password"/>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}

            <button type="submit">Se connecter</button>
        </form>

        <p>Pas encore membre ? Ce site est un site test, mais vous pouvez <a href="{{ path('app_register') }}">Créer votre espace membre</a></p>
    {% endif %}

{% endblock main %}