<form method="post" action="{{ path('song_delete', {'id': song.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
    <button class="btn">Delete</button>
</form>
