{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}

{% block body %}
    <h1>Song index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Title_vo</th>
                <th>Year</th>
                <th>Bpm</th>
                <th>Note</th>
                <th>Explanations</th>
                <th>Is_veto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.id }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.titleVo }}</td>
                <td>{{ song.year }}</td>
                <td>{{ song.bpm }}</td>
                <td>{{ song.note }}</td>
                <td>{{ song.explanations }}</td>
                <td>{{ song.isVeto ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('song_show', {'id': song.id}) }}">show</a>
                    <a href="{{ path('song_edit', {'id': song.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('song_new') }}">Create new</a>
{% endblock %}
