{% extends 'base.html.twig' %}

{% block title %}Song{% endblock %}

{% block body %}
    <h1>Song</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ song.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ song.title }}</td>
            </tr>
            <tr>
                <th>Title_vo</th>
                <td>{{ song.titleVo }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ song.year }}</td>
            </tr>
            <tr>
                <th>Bpm</th>
                <td>{{ song.bpm }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ song.note }}</td>
            </tr>
            <tr>
                <th>Explanations</th>
                <td>{{ song.explanations }}</td>
            </tr>
            <tr>
                <th>Is_veto</th>
                <td>{{ song.isVeto ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('song_index') }}">back to list</a>

    <a href="{{ path('song_edit', {'id': song.id}) }}">edit</a>

    {{ include('song/_delete_form.html.twig') }}
{% endblock %}
