/* BEGINNING OF FILE : app.css */

@import url('maps.css') ;
@import url('forms.css') ;
@import url('musicplayer.css') ; 
@import url('calendar.css') ; 

/* ***************** Reset CSS ***************** */

body {
    margin : 0 ;
    min-height : 100vh ;
}

* {
    box-sizing : border-box ;
    font-family : sans-serif ;
}

/* ***************** end Reset CSS ***************** */

body {
    --size-default : 3px ;
}

header {
    border-bottom : 1px solid lightgrey ;
    padding : 0 0 0 25px ;
}

main {
    padding : 0 25px 25px 25px ;
}
/* Menu de navigation */
.horizontal_menu > ul {
    list-style : none ;
    margin : 0 ;
    padding : 0 ;
    display : flex ;
    flex-wrap : wrap ;
}

.horizontal_menu > ul > li{
    margin-right : 25px ;
}

.field_flat {
    padding : 5px ;
    border : 1px solid grey ;
    border-radius : 3px ;
}


.button_enter {
    background : #04a8f2 ;
    color : white ;
    border-color : #04a8f2 ;
    padding : 5px 10px 5px 10px ;
    border-radius : 3px ;
    border-style : solid ;
}

button:not(:disabled), select:not(:disabled) {
    cursor : pointer ;
}
/* ***************** Custom checkboxes ***************** */
li.checked, li.unchecked {
    list-style: none ;
    line-height: 1.2rem ;
}
li.checked::before, li.unchecked::before {
    display : inline-block ;
    content : '' ;
    width : 1.2rem ;
    height : 1.2rem ;
    background-size: auto 1.2rem ;
}
/*
li.checked::before {
    background-image : url('/img/icons/checkbox_full.png');
}

li.unchecked::before {
    background-image : url('/img/icons/checkbox_empty.png');
}
*/
/* ***************** END OF Custom checkboxes ***************** */

.icon_small {
    height : 1.2rem ;
}
.icon_medium {
    height : 1.4rem ;
}

h1 > a {
    text-decoration : none ;
    color : black ;
}

.vignette {
    height : 150px ;
    box-shadow : 1px 1px 12px #555 ;
}
.maxi-vignette {
    height : 250px ;
    box-shadow : 1px 1px 12px #555 ;
    margin-right : 15px ;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

/* ***************** ATOMIC STYLES ***************** */

.d-flex {display : flex ;}
.d-inline {display : inline ;}
.flex-column {flex-direction : column ;}
.flex-row-reverse {flex-direction : row-reverse ;}
.flex-wrap {flex-wrap : wrap ;}
.flex-grow-1 {flex-grow : 1 ;}
.justify-content-start {justify-content: start;}
.justify-content-between {justify-content : space-between ;}
.align-items-center {align-items : center ;}

.list-style-none {list-style : none ;}

.mr-2 {margin-right : calc(var( --size-default) * 2) ;}
.mr-4 {margin-right : calc(var( --size-default) * 4) ;}
.mt-0 {margin-top : 0 ;}
.mt-2 {margin-top : calc(var( --size-default) * 2) ;}
.mt-4 {margin-top : calc(var( --size-default) * 4) ;}
.mb-2 {margin-bottom : calc(var( --size-default) * 2) ;}
.mb-3 {margin-bottom : calc(var( --size-default) * 3) ;}
.mb-4 {margin-bottom : calc(var( --size-default) * 4) ;}

.text-align-right {
    text-align : right ;
}

.legend {
    font-style : italic ;
    font-size : 0.8rem ;
    margin-top : 0 ;
}

.img_disabled {
    opacity : 0.5 ;
    filter : grayscale(75%);
}

.img_disabled:hover {
    opacity : 1 ;
    filter : grayscale(0%);
}

.ruban {
    text-align : center ;
    color : white ;
    font-weight : bold ;
    background : lightgreen ;
    padding : 10px ;
    width : 250px ;
    transform : rotate(-45deg) ;
    position : fixed ;
    right : -65px ;
    bottom : 30px ;

}
/* END OF FILE : app.css */