/* BEGINNING OF FILE : musicplayer.css */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --white-color: #ffffff;
}

.heading {
    font-size: 32px;
}
/* end common style */

#musicplayer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    background : rgb(144, 126, 199, 0.4) ;
    border-radius : 15px ;
    margin-top : 25px ;
    padding : 25px ;
}
.collection {
    width: 50%;
    flex: 1;
}
.lead {
    max-width: 600px;
    font-weight: 400;
    color: #15253a;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
}
.musicbox {
    margin-top: 1rem;
}
.musicbox ul li h3{
    color: #15253a;
    font-weight: 400;
}
.hor {
    margin: 1rem 0 1rem 0;
    max-width: 500px;
    background-color: #c7d8fc;
}
.playbox {
    flex: 1;
    margin: 0 auto;
}
.playbox_content {
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.2));
    margin-bottom : 5px ;
    padding-top : 25px ;
}
.controller {
    margin: 2.5rem auto 0 auto ;
    width: 100%;
    max-width: 400px;
    min-height: 400px;
}
.circle {
    width: 250px;
    height: 250px;
    background-color: #222427;
    border-radius: 50%;
    margin: 2rem auto;
    display: flex;
    border: 3px solid #37b0d8;
    border-top: 3px solid #0254ec;
   
}
.circle2 {
    width: 180px;
    height: 180px;
    background-color: #252629;
    border-radius: 50%;
    border: 3px solid #282529;
    border-top: 3px solid #66bfe9;
    align-self: center;
    display: flex;
    margin: auto;
    
}
.circle2 .fluid-img{
    width: 100%;
    max-width: 160px;
    height: auto;
    border-radius: 50%;
    align-self: center;
    margin: auto;
}
#song-name{
    color: #15253a;
    font-weight: 400;
}
.circle.animate {
    animation: anticlock 6s infinite linear;
}
.circle2.animate {
    animation: clockwise 6s infinite linear;
}
.media-btn {
    width: 100%;
    max-width: 50px;
    height: auto;
    margin: auto;
    cursor: pointer;
    margin: 1rem;
}
@keyframes anticlock {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}
@keyframes clockwise {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@media (max-width: 900px) {
    #musicplayer .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .collection {
        width: 90%;
        flex: 1;
        margin: 1.5rem auto;
    }
    .playbox {
        flex: 1;
        width: 90%;
    }
}
.card-body {
    width: 100%;
    max-width: 550px;
    min-height: 100vh;
    background-color: #c7d8fc8c;
    margin: 1rem auto;
    border-radius: 8px;
}
.card-body nav{
    margin: 0;
    padding-top: 2rem;
    text-align: center;
}
.card-body .about{
    padding: 1rem;
}
.about .center {
    text-align: center;
}

#song-title {
    font-size : 0.8em ;
}

/* END OF FILE : musicplayer.css */