<form method="post" action="{{ path('contact_delete', {'slug': contact.slug}) }}" onsubmit="return confirm('Supprimer définitivement ce contact ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.slug) }}">
    <button class="btn">Supprimer</button>
</form>
