{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Contact{% endblock title %}


    {% block main %}

        <h2>{{ contact.firstname }} {{ contact.lastname }}</h2>

        Naissance le {{ contact.birthday | date("m/d/Y") }}

<p><a href="{{ path('contact_edit', {'slug': contact.slug}) }}">Modifier</a></p>
    {% endblock main %}