{% extends 'root.twig' %}

{% block title %}{{ parent() }} - Modifier un contact{% endblock title %}

{% block main %}

    <h2>Modifier le contact</h2>

    {{ include('contact/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('contact_details', {'slug': contact.slug}) }}">Retour à la fiche</a>

    {{ include('contact/_delete_form.html.twig') }}
    

{% endblock main %}