{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - TodoListe{% endblock title %}


    {% block main %}

        <h2>Ajouter un contact</h2>

        <form method="POST" action="{{ path('contact_create') }}">
<!--
          <div class="form_field">
            <label for="slug" required>Identifiant unique</label>
            <input id="slug" name="slug" type="text" />
          </div> 

          <div class="form_field">
            <label for="firstname" required>Prénom</label>
            <input id="firstname" name="firstname" type="text" required />
          </div>

          <div class="form_field">
            <label for="lastname" required>Nom</label>
            <input id="lastname" name="lastname" type="text" required />
          </div>

          <div class="form_field">
            <label for="lastname">Date de naissance</label>
            <input id="birthday" name="birthday" type="date" />
          </div>

          <button type="submit" class="button_enter">Ajouter</button>
        </form>-->
        {{ include('contact/_form.html.twig') }}

    {% endblock main %}