{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Contacts{% endblock title %}


    {% block main %}

        <h2>Liste des contacts</h2>
        
        <ul>
            {% for contact in contact_list %}
            <li><a href="{{ path('contact_details', {slug: contact.slug }) }}">{{ contact.firstname }} {{ contact.lastname }}</a></li>
            {% endfor %}
        </ul>

        <a href="{{ path('contact_create') }}">Ajouter un contact</a>
    {% endblock main %}