{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Accueil{% endblock title %}


    {% block main %}

    <p>Bienvenue à l'accueil !</p>

    <p>Nous sommes le {{ today }}</p>


    {% endblock main %}