<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Maelle LaLicorne" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Organisateur{% endblock title %}</title>

        {% block stylesheets %}
        {{ encore_entry_link_tags('bundle')}}
        {% endblock stylesheets %}

        {% block javascripts %}
        {{ encore_entry_script_tags('bundle')}}
        {% endblock javascripts %}
    </head>
    <body class="d-flex flex-column">
        {% block body %}
        
            <header class="d-flex flex-wrap justify-content-between align-items-center">
                <h1>
                    <a href="{{ path('home') }}">
                        <img class="icon_medium" src="/img/icons/home.png" alt="" />
                        Organisateur</a>
                </h1>
                <nav class="horizontal_menu">
                    <ul class="">
                        <li><a href="{{ path('todolist') }}"><img class="icon_small mr-2" src="/img/icons/checklist.png" alt="" />TodoListe</a></li>
                        <li><a href="{{ path('calendar_vue') }}"><img class="icon_small mr-2" src="/img/icons/calendar.png" alt="" />Calendrier</a></li>
                        <li><img class="icon_small mr-2" src="/img/icons/annuaires.png" alt="" />Annuaires
                            <ul>
                                <li><a href="{{ path('contact_index') }}"><img class="icon_small mr-2" src="/img/icons/contacts.png" alt="" />Contacts</a></li>
                                <li><a href="{{ path('annuaireIRL') }}"><img class="icon_small mr-2" src="/img/icons/address_geo.png" alt="" />Annuaire IRL</a></li>
                                <li><img class="icon_small mr-2" src="/img/icons/bookmark.png" alt="" />Annuaire WEB</li>
                            </ul>
                        </li>
                        <li><img class="icon_small mr-2" src="/img/icons/folder.png" alt="" />Médiathèque
                            <ul>
                                <li><a href="{{ path('music_player') }}"><img class="icon_small mr-2" src="/img/icons/musical-note.png" alt="" />Musique</a></li>
                                <li><a href="{{ path('bibliotheque') }}"><img class="icon_small mr-2" src="/img/icons/open-book.png" alt="" />Livres</a></li>
                            </ul>
                        </li>
                        <li><img class="icon_small mr-2" src="/img/icons/lightbulb.png" alt="" />Prévisions</li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('login') }}"><img class="icon_small mr-2" src="/img/icons/people.png" alt="" />{{ app.user.pseudo }}</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}"><img class="icon_small mr-2" src="/img/icons/people.png" alt="" />Connexion</a></li>
                        {% endif %}
                        
                    </ul>
                </nav>
            </header>
            
            <main class="flex-grow-1">
                {% block main %}

                {% endblock main %}
            </main>

            <footer>
            {% block footer %}
            <p>Fabriqué par {{ nomAuteur }}, contenu CC-ByNCSA</p>
            
<div class="ruban">Site démo<br/>
    Dév' en cours
</div>

            {% endblock footer %}
            </footer>

        {% endblock body %}
    </body>
</html>
