<form method="post" action="{{ path('postaladdress_delete', {'id': postaladdress.id}) }}" onsubmit="return confirm('Supprimer définitivement cette addresse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ postaladdress.id) }}">
    <button class="btn">Supprimer</button>
</form>
