{{ form_start(form) }}
<div class="errors">
	{{ form_errors(form) }}
</div>

<div class="row">
	<div class="col-25">
	{{ form_label(form.slug, "Slug", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
	{{ form_widget(form.slug, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'slugHelp'
        }}) }}
        </div>
	{{ form_help(form.slug, {'attr': {
            'class': 'form-text',
            'id': 'slugHelp'
        }}) }}
	{{ form_errors(form.slug) }}
</div>

<div class="row">
	<div class="col-25">
	{{ form_label(form.title, "Titre", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
	{{ form_widget(form.title, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'titleHelp'
        }}) }}
        </div>
	{{ form_help(form.title, {'attr': {
            'class': 'form-text',
            'id': 'titleHelp'
        }}) }}
	{{ form_errors(form.title) }}
</div>

<div class="row">
	<div class="col-25">
	{{ form_label(form.latitude, "Latitude", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
	{{ form_widget(form.latitude, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'latitudeHelp'
        }}) }}
        </div>
	{{ form_help(form.latitude, {'attr': {
            'class': 'form-text',
            'id': 'latitudeHelp'
        }}) }}
	{{ form_errors(form.latitude) }}
</div>

<div class="row">
	<div class="col-25">
	{{ form_label(form.longitude, "Longitude", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
	{{ form_widget(form.longitude, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'longitudeHelp'
        }}) }}
        </div>
	{{ form_help(form.longitude, {'attr': {
            'class': 'form-text',
            'id': 'longitudeHelp'
        }}) }}
	{{ form_errors(form.longitude) }}
</div>

<div class="row">
	<div class="col-25">
	{{ form_label(form.address, "N° et Rue", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
	{{ form_widget(form.address, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'addressHelp'
        }}) }}
        </div>
	{{ form_help(form.address, {'attr': {
            'class': 'form-text',
            'id': 'addressHelp'
        }}) }}
	{{ form_errors(form.address) }}
</div>

<div class="row">
	<div class="col-25">
	{{ form_label(form.zip, "Code postal", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
	{{ form_widget(form.zip, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'zipHelp'
        }}) }}
        </div>
	{{ form_help(form.zip, {'attr': {
            'class': 'form-text',
            'id': 'zipHelp'
        }}) }}
	{{ form_errors(form.zip) }}
</div>

<div class="row">
	<div class="col-25">
	{{ form_label(form.city, "Ville", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
	{{ form_widget(form.city, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'cityHelp'
        }}) }}
        </div>
	{{ form_help(form.city, {'attr': {
            'class': 'form-text',
            'id': 'cityHelp'
        }}) }}
	{{ form_errors(form.city) }}
</div>

<div class="row">
	<div class="col-25">
	{{ form_label(form.phone, "Téléphone", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
	{{ form_widget(form.phone, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'phoneHelp'
        }}) }}
        </div>
	{{ form_help(form.phone, {'attr': {
            'class': 'form-text',
            'id': 'phoneHelp'
        }}) }}
	{{ form_errors(form.phone) }}
</div>

<div class="row">
	<div class="col-25">
	{{ form_label(form.hours, "Horaires", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
	{{ form_widget(form.hours, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'hoursHelp'
        }}) }}
	</div>
	{{ form_help(form.hours, {'attr': {
            'class': 'form-text',
            'id': 'hoursHelp'
        }}) }}
	{{ form_errors(form.hours) }}
</div>

<div class="row">
	<div class="col-25">
		{{ form_label(form.grouping, "Groupe", {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="col-75">
		{{ form_widget(form.grouping, {'attr': {
            'class': 'form-control',
            'aria-describedby': 'groupingHelp'
        }}) }}
	</div>
	{{ form_help(form.grouping, {'attr': {
            'class': 'form-text',
            'id': 'groupingHelp'
        }}) }}
	{{ form_errors(form.grouping) }}
</div>


<button type="submit" class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
