{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Modifier une adresse{% endblock title %}

    {% block main %}

        <h2>Modifier une adresse</h2>

        {{ include('postaladdress/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('postaladdress_show', {'id': postaladdress.id}) }}">Retour à la fiche</a>
    
        {{ include('postaladdress/_delete_form.html.twig') }}
        
    
    {% endblock main %}