{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Liste des adresses{% endblock title %}

    {% block main %}
    <h2>Index des adresses</h2>

    <a href="{{ path('postaladdress_new') }}">Ajouter une nouvelle adresse</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Address</th>
                <th>Zip</th>
                <th>City</th>
                <th>Grouping</th>
                <th>Hours</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aPostalAddress in postaladdresses %}
            <tr>
                <td>{{ aPostalAddress.id }}</td>
                <td><a href="{{ path('postaladdress_show', {'id': aPostalAddress.id}) }}">{{ aPostalAddress.slug }}</a></td>
                <td>{{ aPostalAddress.title }}</td>
                <td>{{ aPostalAddress.latitude }}</td>
                <td>{{ aPostalAddress.longitude }}</td>
                <td>{{ aPostalAddress.address }}</td>
                <td>{{ aPostalAddress.zip }}</td>
                <td>{{ aPostalAddress.city }}</td>
                <td>{{ aPostalAddress.grouping }}</td>
                <td>{{ aPostalAddress.hours }}</td>
                <td>{{ aPostalAddress.phone }}</td>
                <td>
                    <a href="{{ path('postaladdress_edit', {'id': aPostalAddress.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock main %}
