{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Ajouter une adresse{% endblock title %}

    {% block main %}

        <h2>Ajouter une nouvelle adresse</h2>

        {{ include('postaladdress/_form.html.twig') }}

        <a href="{{ path('postaladdress_index') }}">Retour à la liste</a>
        
    
    {% endblock main %}