{% extends 'root.twig' %}

    {% block title %}{{ parent() }} - Voir une adresse{% endblock title %}

    {% block main %}

        <h2>Détails d'une adresse</h2>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ postaladdress.id }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ postaladdress.slug }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ postaladdress.title }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ postaladdress.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ postaladdress.longitude }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ postaladdress.address }}</td>
                </tr>
                <tr>
                    <th>Zip</th>
                    <td>{{ postaladdress.zip }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ postaladdress.city }}</td>
                </tr>
                <tr>
                    <th>Grouping</th>
                    <td>{{ postaladdress.grouping }}</td>
                </tr>
                <tr>
                    <th>Hours</th>
                    <td>{{ postaladdress.hours }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ postaladdress.phone }}</td>
                </tr>
            </tbody>
        </table>
    
        <a href="{{ path('annuaireIRL') }}">Retour à la carte</a>
    
        <a href="{{ path('postaladdress_edit', {'id': postaladdress.id}) }}">Modifier</a>
    
        {{ include('postaladdress/_delete_form.html.twig') }}
        
    
    {% endblock main %}